@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@400;500;600;700&display=swap");
/* Styling Start Here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  min-width: 350px;
  max-width: 2000px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  line-height: 1.8;
  font-size: 17px;
}

p a {
  color: #716522;
  text-decoration: underline;
  text-underline-position: under;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

p a:hover {
  color: #000;
}

figcaption {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin: 5px auto;
  letter-spacing: 0.07em;
}

.btn, .btn-aboutme, .contact-section .form .btn-submit {
  display: block;
  width: 100%;
  max-width: 250px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-aboutme {
  background: #714622;
  margin: 20px 0;
}

.btn-aboutme:hover {
  background: #716522;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

nav ul li {
  margin-right: 50px;
}

nav ul li a {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.07em;
  border-bottom: 2px solid #4f3c18;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #716522;
  border-color: #716522;
}

.heroSection-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0 60px;
}

.heroSection-home > * {
  width: calc(100% / 2);
}

.heroSection-home .content-wrap {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 7%;
}

.heroSection-home .content-wrap h1 {
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.heroSection-home .content-wrap p {
  font-weight: 600;
  margin-bottom: 25px;
}

.heroSection-home .image-wrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}

.introSection-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}

.introSection-about .content-wrap {
  width: 60%;
  padding-left: 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.introSection-about .content-wrap h2 {
  margin-bottom: 15px;
}

.introSection-about .content-wrap p {
  line-height: 1.8;
}

.introSection-about .image-wrap {
  width: 40%;
}

.introSection-about .image-wrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.split-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 35px;
}

.split-section > * {
  width: calc(100% / 2);
}

.split-section > *:last-of-type {
  padding-left: 50px;
}

.split-section .image-wrap img {
  display: block;
  max-width: 100%;
  border-radius: 3px;
}

.split-section .content-wrap {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-secondSection {
  padding-bottom: 50px;
}

.about-secondSection p {
  margin-bottom: 25px;
}

.hobby-introSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}

.hobby-introSection .image-wrap {
  width: 40%;
}

.hobby-introSection .content-wrap {
  width: 60%;
  padding-left: 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hobby-introSection .content-wrap p {
  margin-bottom: 20px;
}

.secondContent-section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 50px;
  text-align: center;
}

.secondContent-section .image-wrap {
  margin: 0 auto 25px;
}

.secondContent-section .image-wrap img {
  display: block;
  max-width: 100%;
}

.secondContent-section .content-wrap {
  padding: 0 30px;
  margin-bottom: 50px;
}

footer {
  display: block;
  margin-top: 50px;
  padding: 12px 10px;
  background: #4f3c18;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.12em;
}

.contact-section {
  width: 100%;
  margin: 50px auto 0;
}

.contact-section .content-wrap {
  text-align: center;
}

.contact-section .form {
  width: 100%;
  max-width: 650px;
  margin: 20px auto;
}

.contact-section .form .row {
  margin-bottom: 10px;
}

.contact-section .form .row .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-section .form .row .col-2 > * {
  width: calc(100% / 2 - 5px);
}

.contact-section .form input {
  display: block;
  outline: none;
  border: 1px solid #716522;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: 0.07em;
  padding: 5px 10px;
}

.contact-section .form input:focus {
  border-color: #000;
}

.contact-section .form textarea {
  width: 100%;
  height: 130px;
  resize: none;
  outline: none;
  border: 1px solid #716522;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: 0.07em;
  padding: 5px 10px;
}

.contact-section .form textarea:focus {
  border-color: #000;
}

.contact-section .form .btn-submit {
  border: none;
  outline: none;
  background: #716522;
  margin: 20px auto;
}

.contact-section .form .btn-submit:hover {
  background: #714c22;
}
/*# sourceMappingURL=style.css.map */