// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@400;500;600;700&display=swap");

$open-sans: "Open Sans", sans-serif;
$oswald: "Oswald", sans-serif;

$white: #fff;
$black: #000;

$main-color: #716522;
$secondary-color1: #714c22;
$secondary-color2: #4f3c18;
$secondary-color3: #714622;
$secondary-color4: #4f3118;

/* Styling Start Here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-width: 350px;
  max-width: 2000px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: $open-sans;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

// Wrapper
.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: $oswald;
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 10px;
}

h2 {
  font-family: $oswald;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  line-height: 1.8;
  font-size: 17px;

  a {
    color: $main-color;
    text-decoration: underline;
    text-underline-position: under;
    transition: all 0.3s ease;

    &:hover {
      color: $black;
    }
  }
}

// Image Caption
figcaption {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin: 5px auto;
  letter-spacing: 0.07em;
}

//buttons
.btn {
  display: block;
  width: 100%;
  max-width: 250px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
  font-family: $oswald;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-aboutme {
  @extend .btn;
  background: $secondary-color3;
  margin: 20px 0;

  &:hover {
    background: $main-color;
  }
}

// Navigation
nav ul {
  list-style: none;
  display: flex;
  margin-top: 30px;

  li {
    margin-right: 50px;

    a {
      position: relative;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: bold;
      color: $black;
      text-decoration: none;
      letter-spacing: 0.07em;
      border-bottom: 2px solid $secondary-color2;
      transition: all 0.3s ease;

      // hover
      &:hover {
        color: $main-color;
        border-color: $main-color;
      }
    }
  }
}

// Hero Section - Home
.heroSection-home {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 60px;

  & > * {
    width: calc(100% / 2);
  }

  // content
  .content-wrap {
    align-self: center;
    padding-right: 7%;

    h1 {
      text-transform: uppercase;
      letter-spacing: 0.07em;
    }

    p {
      font-weight: 600;
      margin-bottom: 25px;
    }
  }

  // Image Wrap
  .image-wrap {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 3px;
    }
  }
}

// About page
.introSection-about {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;

  // Content Wrap
  .content-wrap {
    width: 60%;
    padding-left: 5%;
    align-self: center;

    h2 {
      margin-bottom: 15px;
    }

    p {
      line-height: 1.8;
    }
  }

  // Image Wrap
  .image-wrap {
    width: 40%;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

// split Section
.split-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;

  & > * {
    width: calc(100% / 2);

    &:last-of-type {
      padding-left: 50px;
    }
  }

  //image wrap
  .image-wrap {
    img {
      display: block;
      max-width: 100%;
      border-radius: 3px;
    }
  }

  // Content
  .content-wrap {
    align-self: center;
  }
}

// about second section
.about-secondSection {
  padding-bottom: 50px;

  p {
    margin-bottom: 25px;
  }
}

// hobby page
.hobby-introSection {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;

  // image
  .image-wrap {
    width: 40%;
  }

  //content wrap
  .content-wrap {
    width: 60%;
    padding-left: 5%;
    align-self: center;

    p {
      margin-bottom: 20px;
    }
  }
}

// second content section
.secondContent-section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 50px;
  text-align: center;

  //image Wrap
  .image-wrap {
    margin: 0 auto 25px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  // content wrap
  .content-wrap {
    padding: 0 30px;
    margin-bottom: 50px;
  }
}

// Footer
footer {
  display: block;
  margin-top: 50px;
  padding: 12px 10px;
  background: $secondary-color2;
  color: $white;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.12em;
}

// Contact Section
.contact-section {
  width: 100%;
  margin: 50px auto 0;

  // content-wrap
  .content-wrap {
    text-align: center;
  }

  // Form
  .form {
    width: 100%;
    max-width: 650px;
    margin: 20px auto;

    // row
    .row {
      margin-bottom: 10px;

      .col-2 {
        display: flex;
        justify-content: space-between;

        & > * {
          width: calc(100% / 2 - 5px);
        }
      }
    }

    input {
      display: block;
      outline: none;
      border: 1px solid $main-color;
      border-radius: 5px;
      width: 100%;
      height: 50px;
      font-size: 16px;
      font-family: inherit;
      letter-spacing: 0.07em;
      padding: 5px 10px;

      &:focus {
        border-color: $black;
      }
    }

    textarea {
      width: 100%;
      height: 130px;
      resize: none;
      outline: none;
      border: 1px solid $main-color;
      border-radius: 5px;
      font-size: 16px;
      font-family: inherit;
      letter-spacing: 0.07em;
      padding: 5px 10px;

      &:focus {
        border-color: $black;
      }
    }

    .btn-submit {
      @extend .btn;
      border: none;
      outline: none;
      background: $main-color;
      margin: 20px auto;

      // hover
      &:hover {
        background: $secondary-color1;
      }
    }
  }
}
